<section  class="about__section sec__padding hidden" id="about-sec">
    <div class="container">
      <div class="row">
        <div class="section__title">
          <h2 id="aboutme-title"></h2>
        </div>
      </div>
      <div class="row">
        <div class="about-img">
          <img src="assets/image/about.png" alt="about img">
        </div>
        <div class="about-text">
          <p id="long-description"></p>
          <h3 id="skills-title"></h3>
          <div class="skills">

          </div>

          <div class="about-tabs">
            <button type="button" class="tab-item active" data-target="#education"><span class="education-desc"></span></button>
            <button type="button" class="tab-item" data-target="#experience"><span class="experience-desc"></span></button>
          </div>

          <!-- Education start -->
          <div class="tab-content active" id="education">
            <div class="timeline educationDiv">
            </div>
          </div>

          <!-- Experience start -->
          <div class="tab-content" id="experience">
            <div class="timeline experienceDiv">
            </div>
          </div>

          <a href="assets/docs/cv.pdf" target="_blank" class="btn" id="download-btn">Download CV</a>

        </div>
      </div>
    </div>
  </section>