@import './variables.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}
  
::before,
::after{
    box-sizing: border-box;
}
  
body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 400;
    background-color: var(--body-color);
    min-height: 100vh;
    color: var(--blue-dark);
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    padding: 5vh 15px
}
  
body::before{
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.12;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img{
    max-width: 100%;
    vertical-align: middle;
}