
@import './variables.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
  }
  
  ::before,
  ::after{
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, var(--pink-light), var(--cyan-light));
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--blue-dark);
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    padding: 5vh 15px;
  }
  
  body::before{
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--green-yellow);
    z-index: -1;
    opacity: 0.12;
  }