@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --header-height: 3rem;

  --body-font: 'Poppins', sans-serif;

  --text-color: hsl(var(--hue-color), 8%, 45%);
  --body-color: hsl(var(--hue-color), 60%, 99%);


  --normal-font-size: .938rem;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

