@import url('https://fonts.googleapis.com/css2?family=Figtree&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --header-height: 3rem;
    --hue-color: 250;

    --body-font: 'Montserrat', sans-serif;
  
    /*========== Colors ==========*/
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --main-color: #e02f6b;
    --blue: #0000ff;
    --blue-dark: #18293c;
    --dark: #000000;
    --orange: #ffa500;
    --green-yellow: #cddc39;
    --pink-light: #efa2b4;
    --cyan-light: #aef1ee;
    --white: #ffffff;
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
    --backdrop-filter-blur: blur(5px);

    /*========== Font weight ==========*/
    --big-font-size: 2rem;
    --h3-font-size: 1.125rem;
    --font-semi-bold: 400;
    --font-medium: 500;
    --normal-font-size: .938rem;

    /*========== Margenes Bottom ==========*/
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-2: 2rem;
    --mb-3: 3rem;

    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h3-font-size: 1.25rem;
        --small-font-size: .875rem;
    }
  }