<section class="home__section align-items-center" id="home-sec">
    <div class="home__container container">
      <div class="row align-items-center">
        <div class="home__text">
          <h1 class="home__title" id="title"></h1>
            <h3 class="home__subtitle" id="subtitle"></h3>
            <p class="home__description" id="description"></p>
          <a href="#about" class="btn link-item" id="about-me-btn"></a>
          <a href="assets/docs/cv.pdf" target="_blank" class="btn" id="download-btn"></a>
        </div>
        <div class="home__image">
          <div class="image__box">
            <img src="assets/image/profile.png" alt="profile-img">
          </div>

          <div class="home__social">
            <a href="https://www.linkedin.com/in/jose-armando-salazar-jauregui-910293154/" target="_blank" class="home__social-icon">
              <i class="uil uil-linkedin-alt"></i>
            </a>
            <a href="https://twitter.com/ArmandoJau1" target="_blank" class="home__social-icon">
              <i class="uil uil-twitter-alt"></i>
            </a>
            <a href="https://github.com/ArmandoSJ" target="_blank" class="home__social-icon">
              <i class="uil uil-github-alt"></i>
            </a>
          </div>

        </div>
      </div>
    </div>
  </section>